body 
{
    direction:rtl;
    background-image:url("../images/paper2.jpg");
    background-position:center;
    background-size:cover

}
#container{
    margin:0 auto;
    Width: 960px;
    background-image:url("../images/OrokuProfile.jpg");
    background-position:left center;
    background-size:300px 450px;
    background-repeat:no-repeat;
}
aside{
    padding-top:50px;
    text-align:center;
}
h2{
    text-align:center;
    font-size:18pt;
    margin:10px;
    font-weight:bolder;
    color:darkslateblue;
    font-family:'Guttman Yad-Brush';
    text-shadow: 3px 2px lightgray;
}
span{
    text-decoration:underline;
    font-weight: bolder;
}
#boldd{    
    font-weight: bold;
    text-decoration:none;
}

hr{
  height: 30px; 
  border-style: solid; 
  border-color: black; 
  border-width: 1.5px 0 0 0; 
  border-radius: 25px; 

}
hr:before{
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: black; 
  border-width: 0 0 1.5px 0; 
  border-radius: 25px; 
}
p{
   margin-bottom:10px;
}