body {
    font-family: 'Heebo', sans-serif;
    touch-action: pan-y; /*מבטל שגיאה בעת ביצוע סוויפ*/
}

.aafNone{
    display:none !important;
}
.aafUnset {
    display: unset !important;
}

.haederStyle {
    background-color: #334d99 !important;
    margin-bottom: 10px;
}

h2 {
    font-size: 20pt;
}

.alignCenter {
    text-align: center;
}

.alignleft {
    display: block;
    text-align: left;
    direction: ltr;
}
.startMsg {
    padding: 0px 10px;
}

#riddle2color {
    background-color: black !important;
}
#smallheader {
    font-size:20px;
}

#riddle3color {
    background-color: rgb(26, 83, 255) !important;
}
#riddle4color {
    background-color: #ba0001 !important;
}
.smallPicNiv{
    height:50px;
    width:50px;
    border:1px solid black;
    margin:5px;
}
.smallPicNivImg {
    height: 50px;
    width: 50px;
}
#NivNum{
    visibility:hidden;
}
#WordsInNiv {
    visibility: hidden;
}

.underl { /*קו תחתון רק למילה הראשונה - עמוד whyus*/
    border-bottom: 2px solid #2b81da;
}


.FeedbackMsg {
    display: inline-block;
    vertical-align: middle;
}

#btnIndex {
    background-color: #334d99;
    border: 2px solid #396c94;
    color: #ffffff;
}

ol#whyUsList > li {
    padding: 5px;
}

ol#whyUsList > li > span {
     font-weight: bold;
}
.bottomSpace {
    padding-bottom: 5px;
}

#border {
    background: linear-gradient(to right, #4aceedb3, #2129b9);
    height: 3px;
    width: 50%;
}

#example {
    color: grey;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
}

.alignRight{
    text-align: right;
}

/*#region NavStyle */
.activePageNav {
    display: none;
    
}

.logo {
    zoom: 0.5;
}

.navStyle {
    font-weight: bold;
    z-index: 3;
}

.ActiveNav {
    color: #334d99;
    background-color: #ececec !important;
}

#openNav {
    background-color: transparent !important;
}
#openNav:hover {
        color: #fff !important;
    }
.RightText {
    text-align: right !important;
}

.NavHeader {
    border-bottom: 1px solid !important;
    height: 73.5px;
    text-align: center !important;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer;
}
/*#endregion NavStyle*/

/*#region aboutPage */


.aboutImgs {
    text-align: -webkit-center;
    display: -webkit-box;
    font-weight: bold;
}

span.aboutImgs span {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: center;
}


.about-container img {
    border-radius: 50%;
    margin: 20px;
    zoom: 0.8;
}

.gruopTitle {
    display: block;
    text-align: center;
    font-size: 20px;
}

.marginRightTxt {
    margin-right: 20px;
}


#hitLogo {
    border-radius: 0%;
    zoom: 1;
}

#groupHitLogo {
    display: inline-grid;
    text-align: right;
}

#telemCss {
    color: #018087;
    font-weight: bold;
    cursor: pointer;
}

#hit {
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
}


/*#endregion aboutPage*/
/* תיבת טקסט, משוב וכפתור*/
/*#region Submit Code */
.EnterCodeArea {
    text-align: center;
}

.codeTxt, .codeTxt2End {
    margin: 3px;
    text-align: center;
}

.wrongCode, .wrongCode2End {
    display: none;
    /*background-color: rgba(255, 17, 0, 0.2);*/
    color: red;
    max-width: 90%;
    padding: 15px;
    text-align: center;
    margin: 20px auto;
    box-shadow: 4px 6px 8px 1px rgba(94,94,94,1);
}
.rightCode, .rightCode2End {
    display: none;
    /*background-color: rgba(76, 175, 80, 0.2);*/
    color: green;
    max-width: 90%;
    padding: 15px;
    text-align: center;
    margin: 20px auto;
    box-shadow: 4px 6px 8px 1px rgba(94,94,94,1);
}

.directions{
    color:black;
}

.emoji {
    margin: auto;
    display: block;
    zoom: 0.7;
    padding: 5px;
}



.btn {
    display: inline-block;
    border-radius: 30px;
    background-color: white;
    border: 2px solid #334d99;
    color: #334d99;
    text-align: center;
    font-size: 20px;
    padding: 1px 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align: middle
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -60px;
    transition: 0.5s;
}

.btn:hover span {
    /*padding-left: 10px;*/
}

.btn:hover span:after {
    opacity: 1;
    left: -15px;
}

    .btn:disabled {
        border-color: lightslategrey;
        color: lightslategrey;
    }


/*#endregion */

/*#region GatePage */

.imgRnd {
    zoom: 0.3;
    margin: 15px;
    background: linear-gradient(to right, #4aceedb3, #2129b9);
    padding: 2vh;
    max-width: 380px;
    max-height: 380px;
    min-width: 290px;
    min-height: 250px;
    cursor:pointer;
}

#imgWrapper {
    text-align: center;
}

/*#endregion end GatePage */

/*#region Image Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*#endregion Image Modal */

/*#region QRpage */

#camSwichIcon {
    zoom: 0.2;
    z-index: 1;
}

video {
    border: 1px solid black;
    max-width: 100%;
    max-height: 100%;
}

/*#endregion QRpage */

#Riddle2EndDiv{
    display:none;
}


/*מסכים מעל ל450 פיקסל*/
@media screen and (min-width: 450px) { 
    body {
        /*background-color: lightgreen;*/
        width: 450px;
        vertical-align: middle;
        margin: auto;
    }
    .nonMobileMsg {
        text-align: center;
    }
    #mySidebar{
        max-width:150px;
    }
}

/*מסכים מתחת ל450 פיקסל*/
@media screen and (max-width: 449px) {
    .nonMobileMsg {
        display: none;
    }
}